*{
    margin:0px;
    padding:0px;
}
body{
    margin: 0%;
    padding: 0px;
    /* display: flex;
    flex-wrap: wrap; */
    background-color: skyblue;
    overflow: hidden;

    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgb(65, 12, 126);
    margin: auto;
    margin-left: 5%;
    margin-top: 3%;
    height: 45em;
    width: 80%;
    position: relative;
}
.contact{
    display: flex;
    flex-direction: wrap;
    width: 70%;
}
form{
    background-color: #fff;
    margin:auto;
    position: absolute;
    left: 45%;
    top:5%;
    height: 90%;
    width: 50%;
    box-sizing: border-box;
}
 form .info{
      position: relative;
      /* border-bottom: 2px solid #adadad; */
      /* justify-content: space-between; */
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: 50%;
}
.f1{
    display: flex;
    flex-wrap: wrap;
}
/* form .info input{
    width: 50%;
    padding: 0 .2em;
    height: 1em;
    font-size: .8em;
    border: none;
    background: none;
    outline: none;
}
form .info label{
    position: absolute;
    top: 50%;
    left: .7em;
    color: #adadad;
    font-size: 1.5em;
    pointer-events: none;
} */
/*
form .info span::before{
    content: " ";
    position: absolute;
    top: 1.5em;
    left: 0%;
    height: .4em;
    background: #2691d9;
}
form .info input:focus ~ label,form .info input:valid ~ label{
top: -5px;
color: red;

} */
.info,.drop{
    padding: 2%;
    height: 2%;
    margin-left: 1%;
    width: 60%;
    

}
.info input{
    padding: 1% 2%;
    border-radius: 5px;
    background-color: white;
    border: 2px solid   rgb(65, 12, 126);
    width:100% ;
}
.info input:hover{
    border: 3px solid   rgb(65, 12, 126) ;
    box-shadow: rgba(65, 12, 126,0.25) 0px 54px 55px,rgba(65, 12, 126,0.12) 0px -12px 30px,rgba(65, 12, 126,0.12) 0px 4px 6px, rgba(65, 12, 126,0.12) 0px 12px 13px, rgba(65, 12, 126,0.09) 0px -3px 5px;}

#fs{
    margin-left: 2%;
    width: 100%;
    height: 50%;
    display: flex;
    border-radius: 5px;
    border: 2px solid   rgb(65, 12, 126);

}
section{
    position: absolute;
    width: 40%;
}
h1{
    color: #fff;
    font-size: 3em;
    margin-top: 5%;
    margin-left: 19%;
    text-decoration: underline;
    font-family: Brush Script MT;

}
.f1 h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(65, 12, 126);

}
.container-3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    height: 70%;
    justify-content: space-around;
    background-color: skyblue;
    /* border-radius: 5px; */
}
.f1{
    border-radius: 5px;
}
 .info1{
    
     margin-top: 5%; 
    margin-left: -45%;
    margin-right: 5%;
    width: 10em;
    width: 100%;
    
} 
.info1 #pass{
    margin-bottom:20px ;

}
#sp1{
    margin-left: 30%;
    margin-top: -5%;
}
.button1{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgb(13, 144, 196);
}
branchName{
    margin-top: -20%;
}
.info #branchName option{
    z-index: -1;
}
.info1 #cpass{
    width: 100%;
}
.alert{
    margin-left: 30em;
    margin-top: 90%;
    background-color: red;
    width: 35%;
    height: 10%;
}
.alert1{z-index:1;
   
    background-color:green;
    width: 29%;
    height: 10%;
}

.button1:hover{
    background-color: rgba(65, 12, 126,0.25) ;
    border: 2px solid darkblue;
}
.connect{
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 20em;
    height: 25em;
    border-radius: 5px;
}
.connect .content{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5%;
}
.logo,.logo img{
    width: 5em;
    height: 5em;
    border-radius: 5px;
}
/* #Sh1{
    display: none;
} */
.button1{
    width: 5em;
}
.connect1{
    display: none;
}
@media screen and (max-width:916px) {
    .connect{
        display: none;
    }
    .connect1{
        display: block;
        background-color: #fff;
         height: 55%;
         text-align: center;
    }
    
}
@media  screen and (max-width:600px) {
    section{
        display: none;
    }
    
    .form{
        margin-left: -25%;
    }
    #Bh1{
        font-size: 2rem;
    }
    .form{
        left: 35%;
        height: 80%;
        width: 79%;

    }

    /* .container #Bh1{
        display: none;
    }
    .container #Sh1{
        display: block;
        font-size: 10em;
    } */
}